<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= event.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= event.end %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Ticket_price:</strong>
    <%= event.ticket_price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Organiser:</strong>
    <%= event.organiser %>
  </p>

</div>
